In [17]:
import tensorflow as tf
from tensorflow.keras.models import load_model

import pandas as pd
import pickle

In [18]:
X_test = pd.read_csv("data/X_test.csv")
y_test = pd.read_csv("data/y_test.csv")

In [19]:
with open("artifacts/column_transformer.pkl", "rb") as file:
    ct = pickle.load(file)

model = load_model("artifacts/ann_churn_model.keras")

In [20]:
# Example input data
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

input_df = pd.DataFrame([input_data])

In [21]:
from sklearn.compose import ColumnTransformer

In [22]:
X_test.describe(exclude='object')

       CreditScore          Age  ...  IsActiveMember  EstimatedSalary
count  2000.000000  2000.000000  ...     2000.000000      2000.000000
mean    646.053500    39.018000  ...        0.524500     98726.040350
std      97.689463    10.364332  ...        0.499524     57470.903307
min     350.000000    18.000000  ...        0.000000        11.580000
25%     578.000000    32.000000  ...        0.000000     49712.365000
50%     646.500000    38.000000  ...        1.000000     98511.730000
75%     712.250000    44.000000  ...        1.000000    147317.217500
max     850.000000    92.000000  ...        1.000000    199992.480000

[8 rows x 8 columns]

In [23]:
# Example input data
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

input_df = pd.DataFrame([input_data])

In [24]:
input_transformed = ct.transform(input_df)

In [26]:
model.predict(input_transformed)* 1000

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 54ms/step

array([[15.907886]], dtype=float32)